*,
::after,
::before {
    border: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #253A47;
    scroll-behavior: smooth;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: #66A3BB;
    min-height: 100%;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

button {
    height: 30px;
    width: 70px;
    transition: .4s ease;
    font-size: 10px;
    padding: 2px;
}

button:active {
    opacity: .7;
}

h3 {
    font-size: 1.3rem;
}