*,
::after,
::before {
    border: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background-color: #66A3BB;
}